modelsim.ini
xcelium.d/
xrun.history
xrun.log
.bender
bender
work/
compile.tcl
working_dir/

genus/*
!genus/*.py
!genus/*.sh
!genus/main_genus.tcl

innovus/*
!innovus/*.py
!innovus/*.sh
!innovus/main_innovus.tcl